body{
	background:#ff7373;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: sans-serif;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(214, 169, 245,0.6);
  opacity: 0.6;
  height: 20%;
  text-align: center;

}

.btn:hover {
	background-color: purple;
	color:white;
	border: 2px solid rgba(214, 169, 245,0.8);
}

.btn{
	color: #853eb5; 
	background-color: white;
	font-size:25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
